
<%- include ('../adminLayout/header') %>


  <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">

    
    


    <style>
      .drag-drop-area {
          border: 2px dashed #ccc;
          border-radius: 8px;
          padding: 20px;
          text-align: center;
          cursor: pointer;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover;
          background-position: center;
      }
  </style>


<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  
  <div class="app-brand demo ">
    <a href="index.html" class="app-brand-link">
      <span class="app-brand-logo demo me-1">
<span style="color:var(--bs-primary);">
  <svg width="30" height="24" viewBox="0 0 250 196" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3002 1.25469L56.655 28.6432C59.0349 30.1128 60.4839 32.711 60.4839 35.5089V160.63C60.4839 163.468 58.9941 166.097 56.5603 167.553L12.2055 194.107C8.3836 196.395 3.43136 195.15 1.14435 191.327C0.395485 190.075 0 188.643 0 187.184V8.12039C0 3.66447 3.61061 0.0522461 8.06452 0.0522461C9.56056 0.0522461 11.0271 0.468577 12.3002 1.25469Z" fill="currentColor" />
    <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd" d="M0 65.2656L60.4839 99.9629V133.979L0 65.2656Z" fill="black" />
    <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd" d="M0 65.2656L60.4839 99.0795V119.859L0 65.2656Z" fill="black" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M237.71 1.22393L193.355 28.5207C190.97 29.9889 189.516 32.5905 189.516 35.3927V160.631C189.516 163.469 191.006 166.098 193.44 167.555L237.794 194.108C241.616 196.396 246.569 195.151 248.856 191.328C249.605 190.076 250 188.644 250 187.185V8.09597C250 3.64006 246.389 0.027832 241.935 0.027832C240.444 0.027832 238.981 0.441882 237.71 1.22393Z" fill="currentColor" />
    <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd" d="M250 65.2656L189.516 99.8897V135.006L250 65.2656Z" fill="black" />
    <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd" d="M250 65.2656L189.516 99.0497V120.886L250 65.2656Z" fill="black" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z" fill="currentColor" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z" fill="white" fill-opacity="0.15" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z" fill="currentColor" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z" fill="white" fill-opacity="0.3" />
  </svg>
</span>
</span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">Materio</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  
  
  <ul class="menu-inner py-1">
    
    <!-- e-commerce-app menu start -->
    <li class="menu-item  open">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ri-shopping-bag-3-line'></i>
        <div data-i18n="eCommerce">eCommerce</div>
      </a>
      <ul class="menu-sub">
        <!-- <li class="menu-item">
          <a href="/admin/dash" class="menu-link">
            <div data-i18n="dashboard">dashboard</div>
          </a>
        </li> -->
        <li class="menu-item ">
          <a href="/admin/dashboard" class="menu-link">
            <div data-i18n="Dashboard">Dashboard</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Products">Products</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/dashboard/productList" class="menu-link">
                <div data-i18n="Product List">Product List</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/dashboard/addProduct" class="menu-link">
                <div data-i18n="Add Product">Add Product</div>
              </a>
            </li>
           
          </ul>
        </li>


        <li class="menu-item">
          <a href="/admin/dashboard/categoryList" class="menu-link">
            <div data-i18n="Category List">Category List</div>
          </a>
        </li>
        
        <li class="menu-item">
          <a href="/admin/dashboard/brandList" class="menu-link">
            <div data-i18n="Brands">Brands</div>
          </a>
        </li>


        <li class="menu-item">
          <a href="/admin/dashboard/orderList" class="menu-link menu-toggle">
            <div data-i18n="Order">Order</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item active">
              <a href="/admin/dashboard/orderList" class="menu-link">
                <div data-i18n="Order List">Order List</div>
              </a>
            </li>
            <!-- <li class="menu-item">
              <a href="app-ecommerce-order-details.html" class="menu-link">
                <div data-i18n="Order Details">Order Details</div>
              </a>
            </li> -->
          </ul>
        </li>
        <li class="menu-item">
          <a href="/admin/dashboard/allcustomer" class="menu-link menu-toggle">
            <div data-i18n="Customer">Customer</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item active">
              <a href="/admin/dashboard/allcustomer" class="menu-link">
                <div data-i18n="All Customers">All Customers</div>
              </a>
            </li>
           
          </ul>
        </li>
        <li class="menu-item active">
          <a href="/admin/dashboard/offers" class="menu-link menu-toggle">
            <div data-i18n="offer">offer</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/dashboard/offers/create" class="menu-link">
                <div data-i18n="Add offer">Add offer</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/dashboard/offers" class="menu-link">
                <div data-i18n="List offer">List offer</div>
              </a>
            </li>
           
          </ul>
        </li>


        <li class="menu-item">
          <a href="/admin/dashboard/coupons" class="menu-link menu-toggle">
            <div data-i18n="coupons">coupons</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/dashboard/coupons" class="menu-link">
                <div data-i18n="coupon list">coupon list</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/dashboard/coupons/create" class="menu-link">
                <div data-i18n="add coupon">add coupon</div>
              </a>
            </li>
           
          </ul>
        </li>
       
          </ul>
        </li>
      </ul>
    </li>
    <!-- e-commerce-app menu end -->
    <!-- Academy menu start -->
   

    <!-- Components -->
    <li class="menu-header mt-7">
      <form action="/login" method="POST">
        <button type="submit">Logout</button>
    </form>
    </li>
    <!-- Cards -->
    <!-- User interface -->
   
   
  
  

</aside>
    <!-- / Menu -->
<!-- / Menu -->

    

    <!-- Layout container -->
    <div class="layout-page">
      
      



<!-- Navbar -->

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  
      <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0   d-xl-none ">
        <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
          <i class="ri-menu-fill ri-24px"></i>
        </a>
      </div>
      

      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

        
        <!-- Search -->
       
        <!-- /Search -->
    


      
      
  
</nav>

<!-- / Navbar -->
      <!-- Content wrapper -->
      <div class="content-wrapper">

        <!-- Content -->
        
          <div class="container-xxl flex-grow-1 container-p-y">
            
            <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="app-ecommerce">
  <div class="container mt-5">
    <h1>Offer List</h1>
    <% if (offers && offers.length > 0) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Offer Name</th>
                    <th>Discount</th>
                    <th>Expire Date</th>
                    <th>Offer Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% offers.forEach(offer => { %>
                    <tr>
                        <td><%= offer.offerName %></td>
                        <td><%= offer.discount %>%</td>
                        <td><%= offer.expireDate.toDateString() %></td>
                        <td><%= offer.offerType %></td>
                        <td>
                          <button type="button" class="btn btn-sm btn-primary edit-offer" data-offer-id="<%= offer._id %>">
                            Edit
                        </button>
                        <form action="/admin/dashboard/offers/<%= offer._id %>/delete" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this offer?');">
                          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                      </form>
                            <form action="/admin/dashboard/offers/<%= offer._id %>/toggle-status" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-sm <%= offer.status === 'active' ? 'btn-danger' : 'btn-success' %>">
                                    <%= offer.status === 'active' ? 'Unlist' : 'List' %>
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No offers found.</p>
    <% } %>

    <!-- pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
          <% if (currentPage > 1) { %>
              <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
          <% } %>

          <% for (let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
              </li>
          <% } %>

          <% if (currentPage < totalPages) { %>
              <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          <% } %>
      </ul>
  </nav>
    <a href="/admin/dashboard/offers/create" class="btn btn-success">Create New Offer</a>
</div>
<div class="modal fade" id="editOfferModal" tabindex="-1" aria-labelledby="editOfferModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editOfferModalLabel">Edit Offer</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="editOfferForm">
                  <input type="hidden" id="editOfferId" name="offerId">
                  <input type="hidden" id="existingReferences" name="existingReferences">
                  <div class="mb-3">
                      <label for="editOfferName" class="form-label">Offer Name</label>
                      <input type="text" class="form-control" id="editOfferName" name="offerName" required>
                  </div>
                  <div class="mb-3">
                      <label for="editDiscount" class="form-label">Discount Percentage</label>
                      <input type="number" class="form-control" id="editDiscount" name="discount" required>
                  </div>
                  <div class="mb-3">
                      <label for="editExpireDate" class="form-label">Expire Date</label>
                      <input type="date" class="form-control" id="editExpireDate" name="expireDate" required>
                  </div>
                  <div class="mb-3">
                      <label for="editOfferType" class="form-label">Offer Type</label>
                      <select class="form-select" id="editOfferType" name="offerType" required>
                          <option value="product">Product</option>
                          <option value="category">Category</option>
                      </select>
                  </div>
                  <div class="mb-3" id="editProductSelection" style="display: none;">
                    <label for="editProductReferences" class="form-label">Select Products</label>
                    <select class="form-select" id="editProductReferences" name="references[]" multiple>
                        <% products.forEach(product => { %>
                            <option value="<%= product._id %>"><%= product.productName %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="mb-3" id="editCategorySelection" style="display: none;">
                    <label for="editCategoryReferences" class="form-label">Select Categories</label>
                    <select class="form-select" id="editCategoryReferences" name="references[]" multiple>
                        <% categories.forEach(category => { %>
                            <option value="<%= category._id %>"><%= category.categoryName %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="mb-3" id="editSelectedItemsContainer">
                    <label class="form-label">Selected Items</label>
                    <div id="editSelectedItems" class="border p-2 rounded">
                          <!-- Selected items will be appended here -->
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveOfferChanges">Save changes</button>
          </div>
      </div>
  </div>
</div>

<!-- JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const editOfferModal = new bootstrap.Modal(document.getElementById('editOfferModal'));
    const editOfferForm = document.getElementById('editOfferForm');
    const editOfferType = document.getElementById('editOfferType');
    const editProductSelection = document.getElementById('editProductSelection');
    const editCategorySelection = document.getElementById('editCategorySelection');
    const editProductReferences = document.getElementById('editProductReferences');
    const editCategoryReferences = document.getElementById('editCategoryReferences');
    const editSelectedItemsContainer = document.getElementById('editSelectedItemsContainer');
    const editSelectedItems = document.getElementById('editSelectedItems');

    function handleOfferTypeChange() {
        const offerType = editOfferType.value;
        editProductSelection.style.display = offerType === 'product' ? 'block' : 'none';
        editCategorySelection.style.display = offerType === 'category' ? 'block' : 'none';
        updateSelectedItems();
    }

    function updateSelectedItems() {
        editSelectedItems.innerHTML = ''; // Clear the container
        const offerType = editOfferType.value;
        const selectElement = offerType === 'product' ? editProductReferences : editCategoryReferences;

        Array.from(selectElement.options).forEach(option => {
            if (option.selected) {
                addItemToSelection(option);
            }
        });

        updateSelectedItemsVisibility();
    }

    function addItemToSelection(option) {
      //remove duplicates
      if (Array.from(editSelectedItems.children).some(item => item.dataset.id === option.value)) {
            return;  
        }
        const item = document.createElement('div');
        item.classList.add('selected-item', 'd-flex', 'justify-content-between', 'align-items-center', 'mb-2', 'p-2', 'border', 'rounded');
        item.innerHTML = `
            <span>${option.text}</span>
            <button type="button" class="btn btn-sm btn-danger remove-item-btn">&times;</button>
        `;
        item.querySelector('.remove-item-btn').addEventListener('click', function() {
            option.selected = false;
            updateSelectedItems();
        });
        editSelectedItems.appendChild(item);
    }

    function updateSelectedItemsVisibility() {
        editSelectedItemsContainer.style.display = editSelectedItems.children.length > 0 ? 'block' : 'none';
    }

    // Handle offer type change
    editOfferType.addEventListener('change', handleOfferTypeChange);

    // Handle product/category selection change
    editProductReferences.addEventListener('change', function(event) {
        const option = event.target.options[event.target.selectedIndex];
        if (option.selected) {
            addItemToSelection(option);
        } else {
            updateSelectedItems();
        }
        updateSelectedItemsVisibility();
    });

    editCategoryReferences.addEventListener('change', function(event) {
        const option = event.target.options[event.target.selectedIndex];
        if (option.selected) {
            addItemToSelection(option);
        } else {
            updateSelectedItems();
        }
        updateSelectedItemsVisibility();
    });

    // Fetch the offer details for editing
    document.querySelectorAll('.edit-offer').forEach(button => {
        button.addEventListener('click', function() {
            const offerId = this.getAttribute('data-offer-id');
            fetch(`/admin/dashboard/offers/${offerId}`)
    .then(response => response.json())
    .then(offer => {
    // Fill modal with fetched offer details
    document.getElementById('editOfferId').value = offer._id;
    document.getElementById('editOfferName').value = offer.offerName;
    document.getElementById('editDiscount').value = offer.discount;
    document.getElementById('editExpireDate').value = offer.expireDate.split('T')[0];
    document.getElementById('editOfferType').value = offer.offerType;

    // Store existing references in a hidden field for later
    const existingReferences = offer.offerType === 'product' ? offer.productIds : offer.categoryIds;
    document.getElementById('existingReferences').value = JSON.stringify(existingReferences.map(ref => ref._id));

    // Reset and update product or category selection based on the offer type
    Array.from(editProductReferences.options).forEach(option => option.selected = false);
    Array.from(editCategoryReferences.options).forEach(option => option.selected = false);

    const selectElement = offer.offerType === 'product' ? editProductReferences : editCategoryReferences;

    // Select the already assigned products or categories
    existingReferences.forEach(ref => {
        const option = selectElement.querySelector(`option[value="${ref._id}"]`);
        if (option) {
            option.selected = true;
            addItemToSelection(option);
        }
    });

    // Update UI to reflect selected items
    handleOfferTypeChange();
    updateSelectedItemsVisibility();

    editOfferModal.show();
})
    .catch(error => {
        console.error('Error fetching offer details:', error);
        Swal.fire({
            title: 'Error!',
            text: 'Failed to fetch offer details',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    });
        });
    });

    // Save offer changes
document.getElementById('saveOfferChanges').addEventListener('click', function(e) {
    e.preventDefault();
    const formData = new FormData(editOfferForm);
    const offerData = Object.fromEntries(formData.entries());

    const offerType = offerData.offerType;
    const selectElement = offerType === 'product' ? editProductReferences : editCategoryReferences;

    // Get newly selected references
    const newReferences = Array.from(selectElement.selectedOptions).map(option => option.value);

    // Parse the existing references stored in the hidden field
    const existingReferences = JSON.parse(document.getElementById('existingReferences').value);

    // Merge the newly selected references with the existing ones, ensuring no duplicates
    offerData.references = [...new Set([...existingReferences, ...newReferences])];

    fetch(`/admin/dashboard/offers/${offerData.offerId}/edit`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(offerData)
    })
    .then(response => response.json())
    .then(result => {
        if (result.success) {
            Swal.fire({
                title: 'Success!',
                text: 'Offer updated successfully',
                icon: 'success',
                confirmButtonText: 'OK'
            }).then(() => {
                editOfferModal.hide();
                location.reload();
            });
        } else {
            Swal.fire({
                title: 'Error!',
                text: 'Error updating offer: ' + result.message,
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            title: 'Error!',
            text: 'An unexpected error occurred',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    });
});

  
      // Handle offer status toggle
      document.querySelectorAll('form[action$="/toggle-status"]').forEach(form => {
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            const offerId = this.action.split('/').slice(-2)[0];
            const currentStatus = this.querySelector('button').textContent.trim().toLowerCase();
            const newStatus = currentStatus === 'unlist' ? 'inactive' : 'active';

            Swal.fire({
                title: 'Are you sure?',
                text: `Do you want to ${currentStatus} this offer?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, do it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(this.action, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            // Add CSRF token if required
                            // 'X-CSRF-Token': 'your-csrf-token-here'
                        },
                        body: JSON.stringify({ newStatus: newStatus })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire(
                                'Updated!',
                                `The offer has been ${currentStatus}ed.`,
                                'success'
                            ).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire(
                                'Error!',
                                data.message || 'Failed to update the offer status.',
                                'error'
                            );
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire(
                            'Error!',
                            'An unexpected error occurred',
                            'error'
                        );
                    });
                }
            });
        });
    });
});
</script>

<style>
  .selected-item {
      display: inline-flex;
      align-items: center;
      padding: 5px 10px;
      background-color: #e9ecef;
      border-radius: 20px;
      font-size: 0.875rem;
      margin: 2px;
  }
  .remove-item-btn {
      background: none;
      border: none;
      font-size: 1rem;
      margin-left: 5px;
      cursor: pointer;
  }
</style>
          
          


  

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
  <script src="../../assets/vendor/libs/popper/popper.js"></script>
  <script src="../../assets/vendor/js/bootstrap.js"></script>
  <script src="../../assets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="../../assets/vendor/libs/hammer/hammer.js"></script>
  <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
  <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="../../assets/vendor/js/menu.js"></script>
  
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="../../assets/vendor/libs/quill/katex.js"></script>
<script src="../../assets/vendor/libs/quill/quill.js"></script>
<script src="../../assets/vendor/libs/select2/select2.js"></script>
<script src="../../assets/vendor/libs/dropzone/dropzone.js"></script>
<script src="../../assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
<script src="../../assets/vendor/libs/flatpickr/flatpickr.js"></script>
<script src="../../assets/vendor/libs/tagify/tagify.js"></script>

  <!-- Main JS -->
  <script src="../../assets/js/main.js"></script>
  

  <!-- Page JS -->
  <script src="../../assets/js/app-ecommerce-product-add.js"></script>
  
</body>


<!-- Mirrored from demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/app-ecommerce-product-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Jun 2024 05:50:31 GMT -->
</html>

<!-- beautify ignore:end -->


